/*
font-family: 'Dancing Script', cursive;

font-family: 'Nothing You Could Do', cursive;

font-family: 'Raleway', sans-serif; */

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}



body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
  content: '';
  display: block;
  clear:both;
}

/* TYPOGRAPHY */

.logo-title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #F0D9FF;
  font-weight: 400;
  margin: 2em 0 2em 0;
}


.subtitle {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3em;
}

.home-about-h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.18rem;
  font-weight: 400;
  color: #F43B86;
  margin-top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .35em;
  /* above line changes location of this h1 */
  background: #232323;
  padding: 0 .13em;

}


.home-about-para {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
}


/* BUTTONS */

.button {
  display: inline-block;
  font-size: 1.5rem;
  /* font size changes button size */
  text-decoration: none;
  text-transform: uppercase;
  border-left-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
  margin-top: 4.5em;
}

.button-cta {
  font-size: 1.5rem;
  /* font size changes button size */
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  padding: .5em 1em;
}

.button-accent {
  color: #F43B86;
  border-color: #F43B86;
  /* font-weight: 700; */
}

.button-accent:hover,
.button-accent:focus {
  background: #F0D9FF;
  color: #232323;
  border: #F0D9FF;
}


/* HEADER */

header {
  position: absolute;
  width: 100%;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  /* background: pink; pad out for easy clicking */
  color: #FFF;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}


/* HOME-HERO */

.home-hero {
  background-image: url(images/heroimage.jpg);
  padding: 10em 0;
  width: 100vw;
  height: 40vh;
  display: flex;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
}



  .logo {
    padding: 1.5em 0 .5em 0;
  }



.subtitle {
  margin-top: 3em;
  margin-bottom: 0;
}


  .home-about-h1 {
    font-size: 2.66rem;
    padding: 0 .19em;
    top: .3em;
  }


/* HOME-ABOUT */

.home-about-para {
  margin-top: 0;
  line-height: 1.4;
}

.home-about-para:last-of-type {
  margin-bottom: 0;
}

.home-about-textbox {
  background-color: #232323;
  padding: 4em;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid #F43B86;
  outline-offset: -3em;
  position: relative;
}

/* CTA Section */

cta {


}

.jaf-h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 400;
  color: #F43B86;
  background-color: black;
  margin: 0;
  padding: .8em;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0
  /* gap: 100px; */
}

.col {
  width: 50%;
}



.cta-image {
  max-width: 100%;
  height: auto;
  /* margin: 10% auto; */
  opacity: 0.35;
}

.img-text {
  position: relative;
  text-align: center;
  color: black;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.cta-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Column System */
/*
[class^=col-] {
  float: left;
  padding: 0 .5em;
}

[class^=col-]:first-child {
  padding-left: 0;
}

  [class^=col-]:last-child {
    padding-right: 0;
} */

/* .col-3 {
  width: 100%;
} */

.col-1 {
  width: 100%;
}

/* FOOTER */

footer {
  background: #232323;
  color: #fff;
  text-align: left;
  padding: 3em 0;
}

.list-title {
  padding: .5em;
}
.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
